html
  overflow-y: hidden
  background-color: $color-background

body
  @extend .f-text-16, %fill-absolute
  margin: 0
  padding: 0
  overflow-x: hidden
  font-family: Roboto, sans-serif
  color: $color-text
  background-color: $color-background

*
  box-sizing: border-box

#app
  display: flex
  flex-direction: column

  width: 100vw
  min-height: 100vh

  overflow-x: hidden
