<!DOCTYPE html>
<html>
<head>
  <title>Whatusea</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=fetch,requestAnimationFrame,Element.prototype.classList,URL"></script>

  <!-- https://material.io/resources/icons/?style=baseline -->
  <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">

  <!-- https://material.io/resources/icons/?style=outline -->
  <!-- <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined" rel="stylesheet">-->
  <!-- https://material.io/resources/icons/?style=round -->
  <!-- <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Round" rel="stylesheet">-->
  <!-- https://material.io/resources/icons/?style=sharp -->
  <!-- <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Sharp" rel="stylesheet">-->
  <!-- https://material.io/resources/icons/?style=twotone -->
  <!-- <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Two+Tone" rel="stylesheet">-->
</head>
<body>
  <div id="app"></div>
</body>
</html>
